
.h5,
h5 {
  font-size: 14px
}

.h6,
h6 {
  font-size: 12px
}

p {
  margin: 0 0 10px
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}


@media (min-width:992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
      float: left
  }
  .col-md-12 {
      width: 100%
  }
  .col-md-11 {
      width: 91.66666667%
  }
  .col-md-10 {
      width: 83.33333333%
  }
  .col-md-9 {
      width: 75%
  }
  .col-md-8 {
      width: 66.66666667%
  }
  .col-md-7 {
      width: 58.33333333%
  }
  .col-md-6 {
      width: 50%
  }
  .col-md-5 {
      width: 41.66666667%
  }
  .col-md-4 {
      width: 33.33333333%
  }
  .col-md-3 {
      width: 25%
  }
  .col-md-2 {
      width: 16.66666667%
  }
  .col-md-1 {
      width: 8.33333333%
  }
  .col-md-pull-12 {
      right: 100%
  }
  .col-md-pull-11 {
      right: 91.66666667%
  }
  .col-md-pull-10 {
      right: 83.33333333%
  }
  .col-md-pull-9 {
      right: 75%
  }
  .col-md-pull-8 {
      right: 66.66666667%
  }
  .col-md-pull-7 {
      right: 58.33333333%
  }
  .col-md-pull-6 {
      right: 50%
  }
  .col-md-pull-5 {
      right: 41.66666667%
  }
  .col-md-pull-4 {
      right: 33.33333333%
  }
  .col-md-pull-3 {
      right: 25%
  }
  .col-md-pull-2 {
      right: 16.66666667%
  }
  .col-md-pull-1 {
      right: 8.33333333%
  }
  .col-md-pull-0 {
      right: auto
  }
  .col-md-push-12 {
      left: 100%
  }
  .col-md-push-11 {
      left: 91.66666667%
  }
  .col-md-push-10 {
      left: 83.33333333%
  }
  .col-md-push-9 {
      left: 75%
  }
  .col-md-push-8 {
      left: 66.66666667%
  }
  .col-md-push-7 {
      left: 58.33333333%
  }
  .col-md-push-6 {
      left: 50%
  }
  .col-md-push-5 {
      left: 41.66666667%
  }
  .col-md-push-4 {
      left: 33.33333333%
  }
  .col-md-push-3 {
      left: 25%
  }
  .col-md-push-2 {
      left: 16.66666667%
  }
  .col-md-push-1 {
      left: 8.33333333%
  }
  .col-md-push-0 {
      left: auto
  }
  .col-md-offset-12 {
      margin-left: 100%
  }
  .col-md-offset-11 {
      margin-left: 91.66666667%
  }
  .col-md-offset-10 {
      margin-left: 83.33333333%
  }
  .col-md-offset-9 {
      margin-left: 75%
  }
  .col-md-offset-8 {
      margin-left: 66.66666667%
  }
  .col-md-offset-7 {
      margin-left: 58.33333333%
  }
  .col-md-offset-6 {
      margin-left: 50%
  }
  .col-md-offset-5 {
      margin-left: 41.66666667%
  }
  .col-md-offset-4 {
      margin-left: 33.33333333%
  }
  .col-md-offset-3 {
      margin-left: 25%
  }
  .col-md-offset-2 {
      margin-left: 16.66666667%
  }
  .col-md-offset-1 {
      margin-left: 8.33333333%
  }
  .col-md-offset-0 {
      margin-left: 0
  }
}





.mjfullpage {
  min-height: 600px;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mjfullpage .mjfullpage-items {
  font-size: 200px;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.mjfullpage .mjfullpage-items.cur {
  z-index: 10;
  display: block;
  opacity: 1
}

.mjPosition {
  height: 382px;
  z-index: 30;
  width: 2px;
  background: rgba(0, 0, 0, .12);
  position: fixed;
  right: 7.5%;
  top: 32%;
  display: none;
}

.mjPosition-items {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -4px;
}

.mjPosition-items:nth-of-type(2) {
  top: 70px;
}

.mjPosition-items:nth-of-type(3) {
  top: 150px;
}

.mjPosition-items:nth-of-type(4) {
  top: 220px;
}

.mjPosition-items:nth-of-type(5) {
  top: 300px;
}

.mjPosition-items:nth-of-type(6) {
  top: 380px;
}

.mjPosition-items span {
  background: #404040;
  width: 10px;
  height: 10px;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.mjPosition-items:first-child span {
  margin-top: 0;
}

.mjPosition-items.cur span {
  background: #e63036;
  margin-top: 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}




#my-slk .slick-slide img {
  display: block;
}

#my-slk .slick-slide:focus {
  outline: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#my-slk .blue {
  background: #3498db;
  color: #fff;
}

#my-slk .blue h3 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 10%;
  position: relative;
  text-align: center;
}

#my-slk .variable-width .slick-slide p {
  background: #fff;
  height: 100px;
  color: #3498db;
  margin: 5px;
  line-height: 100px;
}

#my-slk .button {
  background: #3498db;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 48%;
}

#my-slk .buttons {
  padding: 0 20px 20px;
  margin-bottom: 10px;
}

#my-slk .buttons .button {
  background: #FFF;
  color: #3498db;
  float: left;
  margin: 5px;
}

#my-slk .center .slick-center h3 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: #e67e22;
  opacity: 1;
}

#my-slk .center h3 {
  opacity: 0.8;
  transition: all 300ms ease-out;
}

#my-slk .slick-slide .image {
  padding: 50px;
}

#my-slk .slick-slide img {
  display: block;
  width: 100%;
}

#my-slk .slick-slide img.slick-loading {
  border: 0
}

#my-slk .slick-slider {
  margin: 30px auto 50px;
}

#my-slk .nameot {
  display: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px;
}

#my-slk .slick-center .nameot {
  display: block;
}

#my-slk .nameot-sub {
  font-size: 12px;
  opacity: .54;
  margin-top: 5px;
  display: none;
}

#my-slk .slick-center .nameot-sub {
  font-size: 12px;
  opacity: .54;
  margin-top: 5px;
  display: block;
}

#my-slk .nameot {
  opacity: 0;
  transition: all 0.5s;
}

#my-slk .slick-center .nameot {
  display: block;
  opacity: 1;
  text-align: center;
}

#my-slk .nameot-large {
  display: none;
  width: 1150px;
  margin-left: -490px;
  text-align: center;
  opacity: 0;
  transition: all 0.6s;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  opacity: .54
}

#my-slk .slick-center .nameot-large {
  display: block;
  width: 1150px;
  margin-left: -490px;
  text-align: center;
  opacity: 0;
  transition: all 0.6s;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  opacity: 1;
}

#my-slk .slick-prev,
#my-slk .slick-next {
  top: 125px !important;
}

#my-slk .slick-next {
  right: 0px !important;
  background: #fff;
  box-shadow: none;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, .12);
}

#my-slk .slick-prev {
  left: 0px !important;
  z-index: 999;
  background: #fff;
  box-shadow: none;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, .12);
}

#my-slk .slider {
  width: 100%;
  margin: 36px auto;
}

#my-slk .slick-slide {
  margin: 0px;
}

#my-slk .slick-slide img {
  width: 100%;
}

#my-slk .slick-prev:before,
#my-slk .slick-next:before {
  color: #000;
}

#my-slk .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .8;
}

#my-slk .slick-current {
  opacity: 1;
  position: relative;
  z-index: 999;
}

#my-slk .slick-next:before {
  content: '\e923' !important;
  font-family: 'Font Awesome 5 Free';
  transform: rotate(-90deg) !important;
  display: block;
  font-size: 24px;
  position: relative;
}

 #my-slk .slick-prev:before {
  content: '\e923' !important;
  font-family: 'Font Awesome 5 Free';
  transform: rotate(90deg) !important;
  display: block;
  font-size: 24px;
  position: relative;
}

#my-slk .slick-current h3 img {
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .87);
} 




#mypage {
  height: 100%;
}

#car-homepage {
  height: 70%;
}

#testimonials {
  height: auto
}



img {
  max-width: 100%;
}



.why-hdfc-content {
  padding: 220px 0;
}

.why-hdfc-content .head {
  font-size: 26px;
  color: #525252;
}

.why-hdfc-content .head::after {
  clear: both;
  content: "";
  display: block;
  height: 3px;
  margin: 0;
  text-align: left;
  width: 10%;
}

.why-award {
  font-size: 36px;
  font-weight: 500;
  margin-top: 12px;
}

.why-award-desc {
  font-size: 36px;  font-weight: 500;
  line-height: 30px;
}

.whyFixBg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url(/assets/images/bg_whyhdfc_health.jpg) no-repeat;
  background-size: cover; */
  background: #fff;
}

.whyFixBg:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  /* background: -webkit-linear-gradient(rgba(206, 247, 224, .9), rgba(131, 235, 177, .9));
  background: -moz-linear-gradient(rgba(206, 247, 224, .9), rgba(131, 235, 177, .9));
  background: -o-linear-gradient(rgba(206, 247, 224, .9), rgba(131, 235, 177, .9));
  background: -ms-linear-gradient(rgba(206, 247, 224, .9), rgba(131, 235, 177, .9));
  background: linear-gradient(rgba(206, 247, 224, .9), rgba(131, 235, 177, .9)); */
}

.why-content {
  padding: 0 70px;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle1 {
  border: 1px solid rgba(0, 0, 0, .12);
  height: 200px;
  left: 220px;
  top: 220px;
  width: 200px;
}

.circle2 {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, .50);
  top: 170px;
  left: 170px;
}

.circle3 {
  width: 400px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, .12);
  top: 120px;
  left: 120px;
}

.circle4 {
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, .10);
  top: 70px;
  left: 70px;
}

.circle5 {
  width: 600px;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, .03);
  top: 0px;
  left: 0px;
}

.circle6 {
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, .03);
  top: 20px;
  left: 20px;
}

.awards-blk,
.awards-blk-bg {
  width: 170px;
  height: 170px;
  background: #e42125;
  border-radius: 50%;
  position: absolute;
  left: 235px;
  top: 95px;
  z-index: 3;
}

.awards-blk-bg {
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.07);
  z-index: 4;
}

.awards-blk {
  width: 140px;
  height: 140px;
  background: #e42125;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 3;
  text-align: center;
}

.awards-blk i {
  color: #fff;
  line-height: 140px;
  font-size: 90px;
  display: block;
}

.d-circle1,
.d-circle2,
.d-circle3,
.d-circle4,
.d-circle5,
.d-circle6 {
  background: #525252;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.default-circle .d-circle1 {
  left: 300px;
  top: 135px;
}

.default-circle .d-circle2 {
  left: 418px;
  top: 220px;
}

.default-circle .d-circle3 {
  left: 410px;
  top: 360px;
}

.default-circle .d-circle4 {
  left: 285px;
  top: 430px;
}

.default-circle .d-circle5 {
  left: 165px;
  top: 360px;
}

.default-circle .d-circle6 {
  left: 70px;
  top: 180px;
}
.d-circle1:before,
.d-circle2:before,
.d-circle3:before,
.d-circle4:before,
.d-circle5:before,
.d-circle6:before {
  color: #fff;
  font-size: 48px;
  position: absolute;
  text-align: center;
  font-family: 'Font Awesome 5 Free';
}

.d-c1,
.d-c2,
.d-c3,
.d-c4,
.d-c5,
.d-c6 {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.07);
  content: "";
  height: 170px;
  position: absolute;
  width: 170px;
  display: none;
}

.d-c1 {
  left: 362px;
  top: 175px;
}

.d-c2 {
  left: 362px;
  top: 195px;
}

.d-c3 {
  left: 355px;
  top: 305px;
}

.d-c4 {
  left: 235px;
  top: 365px;
}

.d-c5 {
  left: 110px;
  top: 296px;
}

.d-c6 {
  left: 120px;
  top: 165px;
}
.default-circle .d-circle1.active,
.default-circle .d-circle2.active,
.default-circle .d-circle3.active,
.default-circle .d-circle4.active,
.default-circle .d-circle5.active,
.default-circle .d-circle6.active {
  background: #e42125 none repeat scroll 0 0;
  height: 140px;
  width: 140px;
}

.default-circle .d-circle1.active {
  left: 377px;
  top: 210px;
}

.default-circle .d-circle2.active {
  left: 377px;
  top: 190px;
}

.default-circle .d-circle3.active {
  left: 370px;
  top: 320px;
}

.default-circle .d-circle4.active {
  left: 252px;
  top: 380px;
}

.default-circle .d-circle5.active {
  left: 125px;
  top: 310px;
}

.default-circle .d-circle6.active {
  left: 135px;
  top: 180px;
}

.d-circle1.active:before,
.d-circle2.active:before,
.d-circle3.active:before,
.d-circle4.active:before,
.d-circle5.active:before,
.d-circle6.active:before {
  font-size: 90px;
  left: 22px;
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  position: absolute;
}

.d-circle3.active::before,
.d-circle4.active::before {
  left: 26px;
  top: 3px;
}

.d-circle5.active::before {
  left: 26px;
  top: 8px;
}

  
.devider {
  border-right: 1px solid rgba(0, 0, 0, .12);
  height: 100%;
}

[class*="icon-"] label {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  height: 15px;
  position: absolute;
  width: 15px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  top: 0;
  right: 15px;
}

[class*="icon-"] label > span {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 9;
  width: 200px;
  background: #000;
  color: #fff;
}




.def-c1,
.def-c2,
.def-c3,
.def-c4,
.def-c5,
.def-c6 {
  background: #525252;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
}

.def-c1 {
  left: 320px;
  top: 155px;
}

.def-c2 {
  left: 437px;
  top: 238px;
}

.def-c3 {
  left: 436px;
  top: 375px;
}

.def-c4 {
  left: 305px;
  top: 453px;
}

.def-c5 {
  left: 171px;
  top: 375px;
}

.def-c6 {
  left: 169px;
  top: 240px;
}

.tooltip {
  max-width: 300px;
  width: 100%;
}



div.tooltip-inner {
  background: #000;
  font-size: 12px;
  opacity: 1;
  font-family: 'arial', sans-serif;
}

.awd-recog {
  font-size: 14px;
  font-weight: bold;
  color: #525252;
  margin-top: 50px;
  width: 180px;
}

.awardnrecog img {
  margin: 30px 0;
  width: 7%;
}

.scroll-b.panel-body {
  padding: 0;
}

.mCSB_draggerRail {
  display: none;
}

.mCSB_inside > .mCSB_container {
  padding: 0 26px;
  margin: 0;
}

.clearfix {
  clear: both;
}

.mouseDown a {
  display: block;
  height: 45px;
}

.mouseDown {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: -15px;
  font-size: 22px;
  height: 45px;
  left: 48%;
  position: absolute;
  width: 45px;
  z-index: 9;
  text-align: center;
}

.mouseDown a:after {
  /* font-family: 'Font Awesome 5 Free';
  content: "\f107"; */
  color: #fff;
  position: absolute;
  content: "";
  top: 10px; height: 20px; width: 20px; left: 13px;
  background: url(../images/down-arows.png) no-repeat; 
}



.whyergo-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}